@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Tiny5&display=swap');
.first{
    color: green;
    font-weight: 800;
    font-style: italic;

}
#second{
    color: blue;
    font-size: 20px;
    font-family: 'Playwrite GB S';
    
} 
p{
    color: red;
}
.zvyrazni{
    background-color: yellow;
}
p span{
    color: chocolate;
}


